<section class="my-4">
  <div class="container">
    <h2>All Products</h2>
    <input
      [(ngModel)]="searchTerm"
      type="search"
      class="form-control w-50 mx-auto my-3"
      placeholder="Search..."
      name=""
      id=""
    />
    <div class="row g-4">
      <div
        class="col-md-3"
        *ngFor="let product of products | search:searchTerm"
      >
        <div class="product">
          <div
            class="p-2 cursor-pointer"
            [routerLink]="['/product-details',product._id]"
          >
            <img
              [src]="product.imageCover"
              class="w-100"
              [alt]="product.title"
            />
            <h3 class="h6">{{product.category.name | buy }}</h3>
            <h4 class="h6">
              {{product.title | termText:2}}
            </h4>
            <div class="d-flex align-items-center justify-content-between mb-1">
              <span>{{product.price | currency:'EUR'}} </span>
              <div>
                <i class="fas fa-star rating-color"></i>
                <span class="text-muted">{{product.ratingsAverage}}</span>
              </div>
            </div>
          </div>
          <i
            (click)="AddProductToWishlist(product._id)"
            *ngIf="!wishlistData.includes(product._id)"
            class="fa-regular fa-heart heart"
          ></i>
          <i
            (click)="RemoveProductToWishlist(product._id)"
            *ngIf="wishlistData.includes(product._id)"
            class="fa-solid fa-heart heart"
          ></i>
          <button
            (click)="addCart(product._id,btnAdd)"
            #btnAdd
            class="btn-main text-capitalize w-100"
          >
            Add to cart
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
