<!-- Email -->
<section *ngIf="step1" class="container mt-5">
  <h2 class="fw-bold">please enter your verification code</h2>
  <form [formGroup]="forgetForm" (ngSubmit)="forgetPassword()">
    <div>
      <input
        type="email"
        name=""
        id=""
        formControlName="email"
        class="form-control my-4"
        placeholder="Email..."
      />
      <div
        class="alert alert-danger my-3"
        *ngIf="(forgetForm.get('email')?.touched || forgetForm.get('email')?.value?.length>0) && forgetForm.get('email')?.errors"
      >
        <p *ngIf="forgetForm.get('email')?.getError('required')">
          Email Is Required
        </p>
        <p *ngIf="forgetForm.get('email')?.getError('email')">
          Email Is Invalid
        </p>
      </div>
      <button class="btn-main">Verify</button>
      <p
        *ngIf="userMsg"
        class="text-center alert alert-danger w-75 mx-auto p-1 mb-0"
      >
        {{userMsg}}
      </p>
    </div>
  </form>
</section>
<!-- Code -->
<section *ngIf="step2" class="container mt-5">
  <h2 class="fw-bold">reset your account password</h2>
  <form [formGroup]="resetCodeForm" (ngSubmit)="resetCode()">
    <div>
      <input
        type="text"
        name=""
        id=""
        formControlName="code"
        class="form-control my-4"
        placeholder="Code..."
      />
      <div
        class="alert alert-danger my-3"
        *ngIf="(resetCodeForm.get('code')?.touched || resetCodeForm.get('code')?.value?.length>0) && resetCodeForm.get('code')?.errors"
      >
        <p *ngIf="resetCodeForm.get('code')?.getError('required')">
          code Is Required
        </p>
        <p *ngIf="resetCodeForm.get('code')?.getError('pattern')">
          code Must At Least 6 Characters
        </p>
      </div>
      <button class="btn-main">Verify</button>
      <p
        *ngIf="userMsg"
        class="text-center alert alert-danger w-75 mx-auto p-1 mb-0"
      >
        {{userMsg}}
      </p>
    </div>
  </form>
</section>
<!-- Reset -->
<section *ngIf="step3" class="container mt-5">
  <h2 class="fw-bold">reset your account password</h2>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
    <div>
      <input
        type="email"
        name=""
        id=""
        formControlName="email"
        class="form-control my-4"
        placeholder="Email..."
      />
      <div
        class="alert alert-danger my-3"
        *ngIf="(resetPasswordForm.get('email')?.touched || resetPasswordForm.get('email')?.value?.length>0) && resetPasswordForm.get('email')?.errors"
      >
        <p *ngIf="resetPasswordForm.get('email')?.getError('required')">
          Email Is Required
        </p>
        <p *ngIf="resetPasswordForm.get('email')?.getError('email')">
          Email Is Invalid
        </p>
      </div>
      <input
        type="password"
        name=""
        id=""
        formControlName="password"
        class="form-control my-4"
        placeholder="Password.."
      />
      <div
        class="alert alert-danger my-3"
        *ngIf="(resetPasswordForm.get('password')?.touched || resetPasswordForm.get('password')?.value?.length>0) && resetPasswordForm.get('password')?.errors"
      >
        <p *ngIf="resetPasswordForm.get('password')?.getError('required')">
          Password Is Required
        </p>
        <p *ngIf="resetPasswordForm.get('password')?.getError('pattern')">
          Password Must At Least 6 Characters
        </p>
      </div>
      <button class="btn-main">Reset Password</button>
      <p
        *ngIf="userMsg"
        class="text-center alert alert-danger w-75 mx-auto p-1 mb-0"
      >
        {{userMsg}}
      </p>
    </div>
  </form>
</section>
