/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap");

$main-color: #0aad0a;
$light-color: #f0f3f2;
$shadow: rgba(145, 158, 171, 0.2) 0px 2px 4px -1px,
  rgba(145, 158, 171, 0.14) 0px 4px 5px 0px,
  rgba(145, 158, 171, 0.12) 0px 1px 10px 0px;
$font-family: "Encode Sans Expanded", sans-serif;
$rating-color: #ffc908;
$main-transition: 0.8s;

body {
  font-family: $font-family !important;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var($light-color);
}

::-webkit-scrollbar-thumb {
  background-color: var($main-color);
}
.text-main {
  color: $main-color;
}
.bg-main {
  background-color: $main-color !important;
}
.bg-main-light {
  background-color: $light-color !important;
}
.btn-main {
  background-color: $main-color;
  padding: 7px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.5s;
}
.btn-main:disabled {
  cursor: not-allowed;
  background-color: #ccc;
}
.btn-main:disabled:hover {
  background-color: #ccc;
}
.btn-main:hover {
  background-color: #11bd11;
}
.nav-link {
  transition: unset !important;
}
.active-link {
  background-color: $main-color !important;
  color: $light-color !important;
  border-radius: 5px;
}
.rating-color {
  color: $rating-color;
}
.cursor-pointer {
  cursor: pointer;
}
a,
a:hover {
  color: black;
  text-decoration: none;
}
.product {
  border-radius: 5px;
  border: solid 1px $main-color;
  transition: box-shadow 0.5s;
  overflow: hidden;
  padding: 4px;
  box-shadow: $shadow;
  position: relative;
  // &:hover {
  //   .heart {
  //     right: 5px;
  //   }
  // }
  .heart {
    font-size: 45px;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 99;
    cursor: pointer;
    transition: right 0.8s;
  }
}
.product .btn-main {
  transform: translateY(150%);
  transition: transform 1s;
}
.product:hover .btn-main {
  transform: translateY(0);
}
.product:hover {
  box-shadow: 0 0 10px #11bd1168;
}
.font-sm {
  font-size: 12px;
}
