<section class="w-50 mx-auto bg-main-light rounded my-4 p-3">
  <h2>Checkout</h2>
  <form [formGroup]="checkout" (ngSubmit)="handelForm()">
    <div>
      <label id="details">Details</label>
      <textarea
        id="details"
        class="form-control"
        formControlName="details"
      ></textarea>
    </div>
    <div>
      <label id="phone">Phone</label>
      <input
        id="phone"
        type="tel"
        class="form-control"
        formControlName="phone"
      />
    </div>
    <div>
      <label id="city">City</label>
      <input
        id="city"
        type="text"
        class="form-control"
        formControlName="city"
      />
    </div>
    <button class="btn-main my-2">CheckOut</button>
  </form>
</section>
